<form action="api/places" method="POST">
  Name:<br>
  <input type="text" name="name">
  <br>
  Images:<br>
  <input type="text" name="image">
  <br>
  About:<br>
  <textarea name="about" cols="30" rows="10"></textarea>
  <br>
  <input type="submit">
</form>